# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/
[Ll]og/
[Bb]uild/
[Bb]uilds/

# Visual Studio files
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider files
.idea/

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Project files (user-specific)
*.csproj.user

# Temporary files
*.tmp
*.temp