# .NET build folders
bin/
obj/
TestResults/

# User files
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.mdb

# ASP.NET specific
project.lock.json
project.fragment.lock.json
artifacts/

# IDE settings
.vs/
*.sln.docstates

# Rider / VS Code / JetBrains
.idea/
*.iml
.vscode/

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec
*.psmdcp

# Database files
*.mdf
*.ldf

# Other
*.log
*.bak
*.tmp
