# .NET build folders
bin/
obj/
TestResults/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.mdb

# ASP.NET specific
project.lock.json
project.fragment.lock.json
artifacts/

# Rider / VS / VS Code settings
.vs/
*.sln.docstates

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec
*.psmdcp
